@model CompanyAddedViewModel

    <h1>Your company was successfully added!</h1>

    <h5>Some stats:</h5>

    <div>Chars in name: @Model.NumberOfCharsInName</div> 
    <div>Chars in description: @Model.NumberOfCharsInDescription</div> 
    <div>Is the company currrently hidden: @(Model.IsHidden ? "Yes" : "No")</div> 
